<form [formGroup]="formulario" (ngSubmit)="onSubmit()">

  <div class="card ms-5" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"> {{ formulario.get('nome') }} </h5>
      <p class="card-text">Clique para cadastrar descrição</p>
    </div>

    <ul class="list-group list-group-flush">
      <input class="list-group-item" type="text" formControlName="nome" id="nome" placeholder="Titulo do produto">
      <input class="list-group-item" type="text" formControlName="descricao" id="descricao" placeholder="Descição do produto">
      <input class="list-group-item" type="number" formControlName="preco" id="valor" placeholder="Insira o valor do produto">

      <input type="submit" class="btn btn-outline-success" value="Cadastrar">
    </ul>

  </div>
  </form>
