<form
  class="row g-3 needs-validation"
  [formGroup]="formulario"
  (ngSubmit)="onSubmit()">
  <div class="ms-5 my-4">
    <button (click)="toReveal()" *ngIf="!isVisible" type="button" class="fw-bold btn btn-success btn-sm border border-dark">Desocultar Card</button>
  </div>

  <div *ngIf="isVisible" class="card d-flex flex-wrap ms-5 my-4 border border-dark" style="width: 18rem">
    <label for="validationCustom01" class="form-label fw-bold">Nome do produto</label>
    <input
      type="text"
      class="form-control border border-dark"
      id="validationCustom01"
      formControlName="nome"
      [ngClass]="{'is-invalid': submitted && formulario.get('nome')?.errors}"
      />
    <div class="invalid-feedback" *ngIf="submitted && formulario.get('nome')?.errors">Nome obrigatorio</div>

    <label for="validationCustom02" class="form-label fw-bold">Descricao do produto</label>
    <input
      type="text"
      class="form-control border border-dark"
      id="validationCustom02"
      formControlName="descricao"
      [ngClass]="{'is-invalid': submitted && formulario.get('descricao')?.errors}"
    />
    <div class="invalid-feedback" >Descricao obrigatoria</div>
    <label for="validationCustom03" class="form-label fw-bold">Preco do produto</label>
    <input
      type="number"
      class="form-control border border-dark"
      id="validationCustom03"
      formControlName="preco"
      [ngClass]="{'is-invalid': submitted && formulario.get('preco')?.errors}"
    />
    <div class="invalid-feedback" *ngIf="submitted && formulario.get('preco')?.errors">Preco obrigatorio</div>

    <div class="mb-5 my-4 d-grid gap-2 d-md-flex justify-content-md-center">
      <button class="btn btn-success border border-dark" type="submit">Adicionar</button>
      <button class="btn btn-secondary border border-dark " type="button" (click)="onOcult()">
        Ocultar Card
      </button>
    </div>
  </div>

  <div *ngFor="let item of list; let id = index" class="card d-flex flex-wrap ms-5 my-4 border border-dark" style="width: 18rem;">
    <div class="card-body text-center ">
      <p>[{{id}}]</p>
      <h5 class="card-title border border-dark"> {{ item.nome }} </h5>
      <div class="badge bg-primary text-wrap" style="width: 15rem;">
        {{item.descricao}}
      </div>
    <h5 class="card-footer my-3 text-center border border-dark"> R$: {{ item.preco }} </h5>
    <div class="mb-5 my-4 d-grid gap-2 d-md-flex justify-content-md-center">
    <button class="btn btn-warning border border-dark" type="button" (click)="onEdit()"> Alterar </button>
    <button class="btn btn-danger border border-dark" type="button" (click)="onCancel(id)">
      Excluir
     </button>
    </div>
   </div>
  </div>
</form>

